.my-accordion.MuiAccordion-root{
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
    background-color: #8833FF;
  }
.my-accordion.MuiAccordion-root p, 
.my-accordion.MuiAccordion-root div {
    color: #ffffff;
  }
.my-accordion.Mui-expanded {
    background-color: #ffffff;

}
.my-accordion.Mui-expanded p,
.my-accordion.Mui-expanded div {
    color: black;
}

.MuiAutocomplete-root {
  background-color: #ffffff;
}
div #escState {
  background-color: rgb(9, 234, 9);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 0.5rem;
}